# Fundamentos de python

* Variables 
* Operadores matemáticos
* Operadores lógicos 
* Operadores de comparación
* Condicionales  
   - Simples   
   - Compuestos    
   - Anidados    
   - Encadenados
* Ciclos
    - Finitos (for)
    - Infinitos (while)
* Funciones
* estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de POO

In [1]:
print("epale")

epale

In [2]:
# variables
name = "Javier"

In [3]:
name

'Javier'

In [4]:
last_name = "Gonzalez"

In [5]:
last_name

'Gonzalez'

In [6]:
# operadores matematicos
suma = 2 + 2 
resta = 2 - 2
multiplicación = 2 * 2
division = 2 / 2

In [8]:
print(suma)
print(resta)

4
0

In [9]:
print(f"el resultado de la suma es: {suma}")
print(resta)

el resultado de la suma es: 4
0

In [10]:
# operadores de comparación
# igual a ==
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=
# diferente !=

In [11]:
# condicionales
if 1 > 2:
    print("1 es mayor que 2")

In [23]:
number1 = 14
number2 = 12.30

In [16]:
# estructura de datos
# strings
name = "josefino"

In [17]:
type(name)

str

In [19]:
name.capitalize()

'Josefino'

In [20]:
type(number1)

int

In [24]:
type(number2)

float

In [25]:
# listas
name_list = ["jose", "javier", "josefino", "josefina"]

In [26]:
age_list = [20, 30, 40, 50]

In [27]:
name_list.append("ruperto")

In [28]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [29]:
age_list = [
    23,
    32,
    45,
    50,
]

In [30]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [31]:
name_list[1]

'javier'

In [34]:
# slice de una lista
name_list[1:4]

['javier', 'josefino', 'josefina']

In [35]:
len(name_list)

5

In [36]:
# ciclos finitos
for var in name_list:
    print(var)

jose
javier
josefino
josefina
ruperto

In [37]:
for name in name_list:
    print(name)

jose
javier
josefino
josefina
ruperto

In [39]:
for name in name_list:
    if name == "ruperto":
        # imprime la posicion de la lista
        print(name_list.index(name))

4

In [40]:
# recorrido de una lista por indices
for item in range(4):
    print("hola")

hola
hola
hola
hola

In [41]:
# recorrido de una lista por indices
for item in range(len(name_list)):
    print(item)

0
1
2
3
4

In [42]:
# recorrido de una lista por indices
for item in range(len(name_list)):
    print(name_list[item])

jose
javier
josefino
josefina
ruperto

In [43]:
# recorrido de una lista por indices
for item in range(len(name_list)):
    if name_list[item] == "ruperto":
        # imprime la posicion de la lista
        print(name_list[item])
        print(item)

ruperto
4

### Funciones en Python

In [1]:
### Funciones en python

In [2]:
def saludos():
    print("hola")

In [3]:
saludos()

hola

In [8]:
# funcion que saluda a un nombre
def saludos(name):
    print(f"hola {name}")

In [9]:
saludos("miguel herrera")

hola miguel herrera

In [10]:
# funcion que suma dos numeros
def suma(number1, number2):
    return number1 + number2

In [11]:
suma

In [12]:
# funcio para calcular la altura de un triangulo
def area_triangulo(base, altura):
    return (base * altura) / 2

In [13]:
area_triangulo(10, 5)

25.0

In [14]:
area_triangulo(base=10, altura=5)

25.0

In [15]:
area_triangulo(altura=5, base=10)

25.0

In [16]:
# funcion con argumentos por defecto
def area_triangulo(base=10, altura=5):
    return (base * altura) / 2

In [18]:
area_triangulo(10, 5)

25.0

In [19]:
# documentacion de funciones
def area_triangulo3(base=10, altura=5):
    """
    Esta funcion calcula el area de un triangulo
    :param base: base del triangulo
    :param altura: altura del triangulo
    :return: area del triangulo
    """
    return (base * altura) / 2

In [20]:
area_triangulo3(10, 5)

25.0

In [21]:
# documentacion de funciones
def area_triangulo4(base:float, altura:float) -> float:
    """
    Esta funcion calcula el area de un triangulo
    :param base: base del triangulo float o int
    :param altura: altura del triangulo float o int
    :return: area del triangulo float
    """
    return (base * altura) / 2

In [22]:
area_triangulo4(10, 5)

25.0

In [24]:
area_triangulo4(2.5, 5.5)

6.875

### Diccionarios

In [ ]:
# diccionarios de clave:valor
name_dict = {
    "name": "javier",
    "last_name": "gonzalez",
    "age": 30,
    "altura": 1.80,
}

In [29]:
name_list = ["javier", "Gonzalez", 30, 1.80]

In [28]:
name_list.append("javier")

In [30]:
name_list[0]

'javier'

In [31]:
name_dict["altura"]

1.8

In [32]:
# tupla
name_tupla = ("javier", 
              "gonzalez", 
              30, 
              1.80
              )

In [33]:
name_list

['javier', 'Gonzalez', 30, 1.8]

In [35]:
name_list[0] = "manuel"
name_list

['manuel', 'Gonzalez', 30, 1.8]

In [36]:
name_tupla[0]

'javier'

In [37]:
name_tupla[0] = "manuel"

TypeError: 'tuple' object does not support item assignment